<div class="container">
    <br>
    <h4>Buscar Materia</h4>
    <div class="card-sm-8">
        <div class="card-body">
            <div class="card-title">
                Estudiante Busque su materia!
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="materias" class="form-label">Seleccione materia:</label>
                    <select name="selectMaterias" id="materias" class="form-control" required>
                        <option selected value="">Escoja materia....</option>
                        <option>..</option>
                    </select>
                </div>
                <div class="col-md">
                    <br>
                    <button type="submit" class="btn btn-dark">Buscar</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <p  id="viewMatterEstudent">
            
        </p>
    </div>
</div>
